<div id="Box">
<h2>Currency Calculator</h2>
<table>
  <tr><td><input id="fromamount" type="text" size="13" [(ngModel)]="currentval"> </td>
    <td>
      <select id="from">
        
        <option onClick={currencyusa} value="USD">United States dollar(USD)</option>
        <option  value="INR">Indian rupee(INR) </option>
  
        
        
      </select>
    </td>
</tr>

<tr><td><input id="toamount" type="text" size="13"  [(ngModel)]="convertval"> </td>
  <td>
    <select id="TO">
      <option  value="INR">Indian rupee(INR) </option>
      
    
    </select>
  </td>
</tr>
<button (click)="currency()">Convert</button>



</table>

</div>
<app-home>
</app-home>